<p>Здравей <%= @resource.email %>!</p>

<p>Някой пожела да смени Вашата парола за достъп до Бг Ментор (www.bgmentor.com). Кликнете на линка долу</p>

<p><%= link_to 'Промени парола',  'https://bgmentor.com/password/' + @token %></p>

<p>Ако не сте пожелали да смените паролата си, игнорирайте този имейл.</p>
<p>Вашата парола няма да бъде сменена, докато не посетите линка и не въведете нова парола.</p>
